@import 'header';
@import 'message';

@media (max-width: 767.98px) {
    body{
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    

    .infogroupe{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .infogroupe__title{
            color: #000;
            text-align: center;
    
        /* Section Title */
            font-family:var(--section-font);
            font-size:var(--section-font-size);
            font-style: normal;
            font-weight: var(--section-font-weight);
            line-height: var(--section-font-height);
            padding: 0rem 3.63rem;
    
        }
    }
    .Fonctionnement-section .filters{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        .filters__link{
            display: flex;
            justify-content: center;
            gap: 16px;
            align-items: center;
            width: 20.15538rem;
            height: 4.52369rem;
            flex-shrink: 0;
            border-radius: 1.25rem;
            background: var(--Background, #F6F6F6);
    
            /* Shadow/Instructions */
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    }
    }
    .cover img{
        object-fit: cover;
        width: 100%;
    }
}
